@model HackPro.Models.Usuarios

@{
    ViewBag.Title = "Perfil de Usuario";
    ViewBag.TitleHead = "Usuarios";
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    @Html.GravatarImageProfile(@Model.correo, size: 128)
                    <h3 class="profile-username text-center">@Model.nombre</h3>
                    <p class="text-muted text-center">@Model.ocupacion</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Username</b> <a class="pull-right">@Model.username</a>
                        </li>
                        <li class="list-group-item">
                            <b>E-Mail</b> <a class="pull-right">@Model.correo</a>
                        </li>
                        <li class="list-group-item">
                            <b>Edad</b> <a class="pull-right">@Model.edad</a>
                        </li>
                        <li class="list-group-item">
                            <b>Celular</b> <a class="pull-right">@Model.celular</a>
                        </li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!-- /.col -->



        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Eventos" data-toggle="tab">Eventos</a></li>
                    <li><a href="#Proyectos" data-toggle="tab">Proyectos</a></li>
                    <li><a href="#Equipos" data-toggle="tab">Equipos</a></li>
                    <li><a href="#Administrador" data-toggle="tab">Administrador de</a></li>
                    <li><a href="#Jurado" data-toggle="tab">Jurado de</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="Eventos">
                        <div class="row">
                            @Html.Raw(ViewBag.Eventos)
                        </div>

                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="Proyectos">
                        <div class="row">
                            @Html.Raw(ViewBag.Proyectos)
                        </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="Equipos">
                        <div class="row">
                            @Html.Raw(ViewBag.Equipos)
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="Administrador">
                        <div class="row">
                            @Html.Raw(ViewBag.Administrador)
                        </div>

                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="Jurado">
                        <div class="row">
                            @Html.Raw(ViewBag.Jurado)
                        </div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->